<div class="col-10 offset-1 about">

  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://kajbizzle.netlify.com/">Kareem</a>. He is on his way to becoming one of the greatest full stack web developers the world has ever known!!!
  </p>

  <div class="row">

    <div class="col-12 col-sm-4">

      <%= image_tag 'IMG_7329.jpg', class: 'img-fluid' %>

    </div>

    <div class="col-12 col-sm-7 offset-sm-1">

      <h2 class="text-center">Kareem Byrd</h2>

      <br />

      <p>
        Kareem Byrd is a professional software engineer specializing in full-stack development. He has extensive experience with Ruby, Rails, JavaScript, and building web applications.
      </p>

    </div>

  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />